<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Análisis de rendimiento</title>
    <!--Chartsjs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <!--Chartsjs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Análisis de rendimiento</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}  
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listacursos' %}">Ver lista de los cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listapruebas' %}">Ver pruebas añadidas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listatemas' %}">Ver temas añadidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Hola profesor {{ user.first_name }} {{ user.last_name }}!</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Regístrate / Cerrar sesión
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'register' %}">Regístrate</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
          </li>
          </ul>

          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled">Hola usuario!</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inicia sesión / Regístrate
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'login' %}">Inicia sesión</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'register' %}">Regístrate</a></li>
            </ul>
          </li>
          </ul>
          {% endif %}

        </div>
      </div>
    </nav>
    
    <!-- End Example Code -->
  </body>
</html>